.rotate-shadow {
    position: relative;
    animation: rotateShadow 6s infinite linear; /* Increased duration for smoother rotation */
}

@keyframes rotateShadow {
    0% {
        box-shadow: 0 0 60px #64a19d;
    }
    25% {
        box-shadow: 30px 30px 60px rgba(100, 161, 157, 0.4);
    }
    50% {
        box-shadow: 0 60px 60px rgba(100, 161, 157, 0.3);
    }
    75% {
        box-shadow: -30px 30px 60px #64a19d;
    }
    100% {
        box-shadow: 0 0 60px rgba(100, 161, 157, 0.5);
    }
}


#word-preloader {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100vh;
    background-color: #2e2e2e;
    z-index: 99999;
    font-family: mulish;
  }
  
  #word-preloader .word-container {
    font-size: 2rem;
    color: #fff;
  }
  
  /* Existing Preloader Styles */
  #preloader {
    display: none; /* Initially hidden */
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100vh;
    z-index: 99999;
  }
  
  #preloader:before,
  #preloader:after {
    content: "";
    background-color: #2e2e2e;
    position: absolute;
    inset: 0;
    width: 50%;
    height: 100%;
    transition: all 0.3s ease 0s;
    z-index: -1;
  }
  
  #preloader:after {
    left: auto;
    right: 0;
  }
  
  #preloader .line {
    position: relative;
    overflow: hidden;
    margin: auto;
    width: 1px;
    height: 280px;
    transition: all 0.8s ease 0s;
  }
  
  #preloader .line:before {
    content: "";
    position: absolute;
    background-color: #fff;
    left: 0;
    top: 50%;
    width: 1px;
    height: 0%;
    transform: translateY(-50%);
    animation: lineincrease 1000ms ease-in-out 0s forwards;
  }
  
  #preloader .line:after {
    content: "";
    position: absolute;
    background-color: #999;
    left: 0;
    top: 0;
    width: 1px;
    height: 100%;
    transform: translateY(-100%);
    animation: linemove 1200ms linear 0s infinite;
    animation-delay: 2000ms;
  }
  
  #preloader.loaded .line {
    opacity: 0;
    height: 100% !important;
  }
  
  #preloader.loaded .line:after {
    opacity: 0;
  }
  
  #preloader.loaded:before,
  #preloader.loaded:after {
    animation: preloaderfinish 300ms ease-in-out 500ms forwards;
  }
  
  @keyframes lineincrease {
    0% {
      height: 0%;
    }
  
    100% {
      height: 100%;
    }
  }
  
  @keyframes linemove {
    0% {
      transform: translateY(200%);
    }
  
    100% {
      transform: translateY(-100%);
    }
  }
  
  @keyframes preloaderfinish {
    0% {
      width: 50%;
    }
  
    100% {
      width: 0%;
    }
  }
  